body {
	background: #ffffff url(img/bg.jpg) repeat top left;
}

body, label, h1, h2, h3 {	
	color: #cccccc;
}

.social-sharers li div {
	margin-top: 10px !important;
}

#top {
	height: 450px;
	margin-top: 60px;
}

#modal_whats_this, #modal_motivational {
	background-color: #2C2C2C;
	color: #cccccc;
}

#top #heading {
	padding: 50px 11px;
}

#top #heading h1 {
	border: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 128px;
	padding: 0px 40px;	
	color: #eeeeee;
}

#user-inputs .control-label {
	text-align: left;
}

#user-inputs .controls {
	margin-left: 140px;
}

#query {
	width: 140px;
}

#search_type {
	width: 150px;
}

#search_tags {
	width: 98%;
}

#controls {
	height: 180px;
}

#controls .sliders {
	height: 100%;
}

.well {
	border: 1px solid #aaaaaa;
	background-color: #2C2C2C;
	padding: 10px;
}

#available_services {	
	height: 100%;
}

#bottom {
	height: 350px;	
}
.service {
	height: 130px;
	width: 80px;
	float: left;
	padding: 5px 10px;
}

.service .ui-widget-content {
	background: none;
	border: 1px solid #999;
}

.ui-slider .ui-slider-handle {
	background: url(img/fader.jpg);
	border: none;
	width: 19px;
	height: 28px;
}
.result {
	list-style-type: none;
	width: 100%;
}

#song-data {
	display: none;
	margin-left: 42px;
	height: 180px;
}

.song_info {
	width: 50%;
	float: left;
}

.youtube_player {
	float: right;
	width: 50%;
}

#song_info {
	display: none;
	width: 100%;
	float: left;
}

#song_commands {
	display: none;
	width: 100%;
	float: left;
}

#commands {
	display: none;
	float: left;
	width: 100%;
}

#settings .settings-icon {
	margin-top: 5px;
}

#settings #scoring-buttons {
	margin-top: 5px;
}

#player {
	height: 200px;
}

#ads {
	display: none;
	padding-left: 23px;
}

#results {
	width: 100%;
	float: left;
	display: none;
}

.sc-time-span {
	/* Needed to override bootstrap floating classes called span* */
	float: none !important;
}

#footer {
	margin-top: 80px;
}