body {
	background: #ffffff url(img/bg.jpg) repeat top left;
}

body, label, h1, h2, h3 {	
	color: #cccccc;
}

#top {
	height: 450px;
	margin-top: 100px;
}

#modal_whats_this {
	background-color: #2C2C2C;
	color: #cccccc;
}

#top #heading h1 {
	border: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 128px;
	padding: 0px 40px;	
	color: #eeeeee;
}

#user-inputs .control-label {
	text-align: left;
}

#search_tags {
	width: 380px;
}

#controls {
	height: 200px;
}

#controls .sliders {
	height: 100%;
	border: 1px solid #cccccc;
}

#available_services {	
	height: 100%;
}

#bottom {
	height: 350px;	
}
.service {
	height: 130px;
	width: 100px;
	float: left;
	padding: 10px;
}

.result {
	list-style-type: none;
	width: 100%;
}

.song_info {
	width: 50%;
	float: left;
}

.youtube_player {
	float: right;
	width: 50%;
}

#song_info {
	display: none;
	width: 100%;
	float: left;
}

#song_commands {
	display: none;
	width: 100%;
	float: left;
}

#commands {
	display: none;
	float: left;
	width: 100%;
}

#results {
	width: 100%;
	float: left;
	display: none;
}

.sc-time-span {
	/* Needed to override bootstrap floating classes called span* */
	float: none !important;
}

#footer {
	margin-top: 40px;
}