#top {
	width: 100%;
	float: left;
}

#top #heading {
	width: 40%;
	float: left;
}

#top #heading h1 {
	border: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 128px;
	padding: 0px 40px;	
}

#top #user-inputs {
	width: 60%;
	float: left;
	margin: 80px 0px;
}

#top #user-inputs #available_services {
	height: 130px;
}

#top #user-inputs #available_services .service {
	height: 100%;
	width: 120px;
	float: left;
}

.result {
	list-style-type: none;
	width: 100%;
}

.song_info {
	width: 50%;
	float: left;
}

.youtube_player {
	float: right;
	width: 50%;
}

#player {
	width: 40%;
	float: left;
}

#song_info {
	display: none;
	width: 60%;
	float: left;
}

#song_commands {
	display: none;
	width: 60%;
	float: left;
}

#commands {
	display: none;
	float: left;
	width: 100%;
}